# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
packages/frontend/node_modules
packages/backend/node_modules
/.pnp
.pnp.js

# testing
packages/frontend/coverage
packages/backend/coverage

# production
packages/frontend/build
packages/backend/build

packages/frontend/npm-debug.log*
packages/frontend/yarn-debug.log*
packages/frontend/yarn-error.log*

packages/backend/npm-debug.log*
packages/backend/yarn-debug.log*
packages/backend/yarn-error.log*
