.sidebar {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 35px;
  background-color: rgb(205, 254, 230);
  border-radius: 10px;
}
.sidebarImg {
  min-width: 100%;
  height: 250px;
  object-fit: contain;
  margin-top: 5px;
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebarTitle {
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  line-height: 15px;
  border-top: 1px solid rgb(5, 226, 119);
  border-bottom: 1px solid rgb(5, 226, 119);
}
.sidebarItem > p {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  text-align: justify;
}
.sidebarList {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  column-gap: 150px;
  list-style: none;
  margin-bottom: 25px;
  padding: 0;
}
.sidebarListItem {
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
}
.sidebarListItem:hover {
  color: rgb(5, 226, 119);
}
